
<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% if @tasks.any? %>
        <%= render @tasks %>
    <% else %>
    <p>No tasks found </p>
    <% end %>
  </div>
  <%= link_to "Create Task", new_task_path, remote: true%>
  <div class="new-task-form">
  </div>
</div>
